{% include 'theme/theme.html' %}

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">溫室環境</h1>
          </div>

 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript">
        var path_link = location.pathname ;
        var path_link = path_link.replace("/history/", "");
        $(document).ready(function() {
            var url_sensor = "http://192.168.54.139:1880/sensor";
            var url_envirINFO = "http://192.168.54.139:1880/history?"+path_link;
            var url_waterINFO = "http://192.168.54.139:1880/water?"+path_link;


            $.ajaxSetup({
                async: false
            });

            $.getJSON(url_envirINFO, {}, function (data_envirINFO) { //讀取json資料,把資料放進data裡
              var i = 0;
              $.each(data_envirINFO, function() {       //用.each這個函式來取出Data裡的物件
                data_envirINFO[i].soil_humi = data_envirINFO[i].soil_humi.replace(/01/, "潮濕");   //替換濕度代號
                data_envirINFO[i].soil_humi = data_envirINFO[i].soil_humi.replace(/02/, "普通");
                data_envirINFO[i].soil_humi = data_envirINFO[i].soil_humi.replace(/03/, "乾燥");
                var data_time = new Date(data_envirINFO[i].time).Format("yyyy-MM-dd hh:mm:ss");


                  $("#envirINFO_table").append(
                    "<tr>" +
                      "<td>" + data_time + "</td>" +
                      "<td>" + data_envirINFO[i].temperature + "℃ </td>" +
                      "<td>" + data_envirINFO[i].humidity + "%</td>" +
                      "<td>" + data_envirINFO[i].soil_humi + "</td>" +
                    "</tr>");
                  i++;
              });
            });


            $.getJSON(url_waterINFO, {}, function (data_waterINFO) { //讀取json資料,把資料放進data裡
              var i = 0;
              $.each(data_waterINFO, function() {       //用.each這個函式來取出Data裡的物件
                var data_time = new Date(data_waterINFO[i].time).Format("yyyy-MM-dd hh:mm:ss");

                  $("#waterINFO_table").append(
                    "<tr>" +
                      "<td>" + data_time + "</td>" +
                      "<td>" + data_waterINFO[i].water + " ml</td>" +
                    "</tr>");
                  i++;
              });
            });
            $.getJSON(url_sensor, {}, function (data_sensor) { //讀取json資料,把資料放進data裡
              var i = 0;
              $.each(data_sensor, function() {       //用.each這個函式來取出Data裡的物件
                  $("#choose").append(
                    "<option value=\"http://192.168.54.139:5000/history/sensor="  + data_sensor[i].sensorID + "\">" + data_sensor[i].sensorID + "  " +  data_sensor[i].name + "</option>"

            );
                  i++;
              });
            });
        });


        Date.prototype.Format = function (fmt) { //時間格式處理
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
      <body><center>
        <div style="font-family:標楷體;font-size:20px; ">選擇盆栽:
         <select id="choose" style="width:200px;font-size: 15px;font-family:標楷體;"
          onchange="location.href=this.options[this.selectedIndex].value" >
          <option>-----請選擇-----</option>
         </select>
       </div><br>

          <table  style="border:3px #000 ;text-align:center;" cellpadding="10" border='1' id="envirINFO_table">
            <tr><td>時  間</td><td>溫度</td><td>濕度</td><td>土壤狀態</td></tr>
          </table>

          <br><br><br>

          <table  style="border:3px #000 ;text-align:center;" cellpadding="10" border='1' id="waterINFO_table">
            <tr><td>時  間</td><td>水量</td>
          </table>

      </center></body>

{% include 'theme/footer.html' %}